/* 全局样式表 */
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 使自定义字体图标与 element-ui 的图标样式一致 */
.iconfont {
  display: inline-block;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  vertical-align: baseline;
  line-height: 1;
  speak: none;
}

.el-menu-item .iconfont {
  width: 24px;
  margin-right: 5px;
  font-size: 18px;
  text-align: center;
  vertical-align: middle;
}

.el-button .iconfont {
  font-size: inherit;
}

.el-button .iconfont+span {
  margin-left: 5px;
}

/* 为面包屑导航统一修改默认样式 */
.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}

/* 为表格统一修改默认样式 */
.el-table {
  margin-top: 15px;
}

/* 为分页统一修改默认样式 */
.el-pagination {
  margin-top: 15px;
}

/* 为步骤条统一修改默认样式 */
.el-steps {
  margin: 15px auto;
}

/* 可单选的表格中的单选框不显示 label */
.select-table .el-radio .el-radio__label {
  display: none;
}
